<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.emma">
  <application android:label="EMMA">
    <service android:name=".EmmaAlertService" android:exported="true"/>
    <activity android:name=".EmmaAlertActivity" android:exported="true"/>
  </application>
</manifest> 